@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Gravitas+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}
